
export(lcra)
importFrom(rlang, expr)
importFrom(rlang, quo_get_expr)
importFrom(rlang, quo)
importFrom(R2WinBUGS, bugs)
importFrom(R2WinBUGS, write.model)
S3method(plot, lcra)
S3method(print, lcra)
importFrom(stats, model.matrix)
importFrom("graphics", "layout", "lines", "mtext", "par", "points",
               "strheight", "strwidth", "text", "plot")
importFrom("stats", "C", "median", "quantile", "step")